{% extends "includes/sidebar.html" %}

{% block contents %}
<style>
    a {
        text-decoration: none;
        color: black;
    }
    .table {
        margin: 20px auto;
    }
    .table table {
        border-collapse: collapse;
        width: 100%; /* Full width on all screens */
    }
    .table th, .table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    .text-warning {
        color: orange;  /* You can change the highlight color as desired */
    }

    /* Media Query for Small Screens */
    @media (max-width: 576px) {
        .table th, .table td {
            font-size: 12px; /* Reduce font size for small screens */
            padding: 6px; /* Reduce cell padding for small screens */
        }
    }
</style>
<center>

  <h3 style="text-decoration: underline;">{{user.department}} Department</h3><br>
  <h4>{{month_name}} {{year}}</h4><hr>
 
  <div class="table">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Employee</th>
            {% for day in days %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for attendance in attendence_data %} 
        <tr>
          <td>{{ attendance.employee }}</td>
          {% for day in days %}
            {% if day in attendance.present_data %}
              <td class="text-primary"><small>P</small></td>
            {% elif day in attendance.absent_data %}
              <td class="text-danger"><small>A</small></td>
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</center>

<a class="btn btn-dark" href="{% url 'attendence_table' year=year month=month id=id %}">My attendance</a>

{% endblock contents %}
