{% extends "base.html" %}

{% block content %}

<div class="container" style="width:740px; padding:20px;">
    <div class="card text">
        <center>
            <div class="card-header">
                <h3><strong>Employee Login</strong></h3></div>
        </center>
        <div class="card-body">
            <h5 align="left">Login to your account</h5>
            <hr color="Blue">

            <form method="post" action="{% url 'login' %}" class="form-signin" autocomplete="off">
                {% csrf_token %}
                <div class="form-row">
                    <div class="input-group col-md-6 mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Username</div>
                        </div>
                        <input type="text" name="username" required class="form-control" placeholder="Enter your username">
                    </div>
                    <div class="input-group col-md-6 mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Password</div>
                        </div>
                        <input type="password" name="password" required class="form-control" placeholder="Enter your password">
                    </div>
                </div>

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div> <!-- /close Card body -->

        <div class="card-footer text-muted">
            <table width="100%">
                <tr>
                    <td align="left" width="20%">
                    </td>
                    <td align="right" width="30%">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% include "includes/messages.html" %}
{% endblock content %}
